.project
.metadata
.classpath
.settings/
**/Thumbs.db
target
*.iml
.idea/
.DS_STORE
.factorypath
*.tgz
.gradle

node_modules/
dist/
.nx/
reports/

vite.config.*.timestamp*
vitest.config.*.timestamp*

storybook-static
**/storybook-static
styled-system/
.cursor/**
.github/**
